body{
    background: #FFF;
}
#page-wrapper{
    background: #fafafa;
}
a{
}
.navbar-default{
    background: #FFF;
    border-color: #CCC;
}

.form-control{
    width: 100% !important;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 80% !important;
    height: 80% !important;
    background: transparent;
}

.ngdialog.ngdialog-theme-default .ngdialog-close{
    top: 20px;
    right: 20px;
}
