<div class="panel panel-default">
    <div class="panel-heading">
        CADASTRO DE CATEGORIA
    </div>
    <div class="panel-body">    
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-info" ng-click="prevCategoria()" ng-disabled="(keyCategoria < 1)"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-info" ng-click="nextCategoria()" ng-disabled="(keyCategoria >= (categorias.length - 1))"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="form-inline">
                <div class="form-group col-lg-1">
                    <label>ID</label><br>
                    <input type="text" readonly="readonly" ng-model="categorias[keyCategoria].idCategoria" class="form-control"/>
                </div>
                <div class="form-group col-lg-4">
                    <label>Nome</label><br>
                    <input type="text" ng-model="categorias[keyCategoria].nomeCategoria" class="form-control"/>
                </div>
                <div class="form-group  col-lg-12">
                    <label>Descrição</label><br>
                    <textarea ng-model="categorias[keyCategoria].descricaoCategoria" class="form-control"></textarea>
                </div>
                <div class="form-group  col-lg-12" ng-show="message">
                    <br>
                    <div class="alert alert-info">{{message}}</div>
                </div>
                <div class="form-group  col-lg-12" style="margin-top: 10px;">
                    <button class="btn btn-success" ng-click="saveCategoria()">Gravar</button>
                    <button class="btn btn-danger" ng-click="deleteCategoria()">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>