<div id="panel-load"></div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Listagem de Produtos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="ProdutoCtrl">
    <div class="col-lg-12">
        <button class="btn btn-primary" ng-click="edit()">Adicionar</button>
    </div>
    <hr>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de produtos
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover dataTable" id="dataTables-example">
                        <thead>
                            <tr>
                                <th style="width: 5%">ID</th>
                                <th style="width: 20%">Categoria</th>
                                <th style="width: 30%">Nome</th>
                                <th style="width: 30%">Descrição</th>
                                <th style="width: 10%">Valor</th>
                                <th style="width: 10%">Qtde.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="produto in produtos" ng-click="edit(produto.idProduto)">
                                <td>{{produto.idProduto}}</td>
                                <td>{{produto.idCategoriaProduto.nomeCategoria}}</td>
                                <td>{{produto.nomeProduto}}</td>
                                <td>{{produto.descricaoProduto}}</td>
                                <td>{{produto.valorProduto}}</td>
                                <td>{{produto.qtdeProduto}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    $(document).ready(function () {
        $('.dataTable').DataTable({
            responsive: true
        });
    });
</script>