<div class="panel panel-default">
    <div class="panel-heading">
        CADASTRO DE PRODUTO
    </div>
    <div class="panel-body">    
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-info" ng-click="prev()" ng-disabled="(key < 1)"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-info" ng-click="next()" ng-disabled="(key >= (produtos.length - 1))"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="form-inline">
                <div class="form-group col-lg-1">
                    <label>ID</label><br>
                    <input type="text" readonly="readonly" ng-model="produtos[key].idProduto" class="form-control"/>
                </div>
                <div class="form-group col-lg-4">
                    <label>Nome</label><br>
                    <input type="text" ng-model="produtos[key].nomeProduto" class="form-control"/>
                </div>
                <div class="form-group  col-lg-3">
                    <label>Categoria</label><br>
                    <div class="input-group">
                        <select ng-model="produtos[key].idCategoriaProduto" class="form-control">
                            <option ng-repeat="option in categorias" value="{{option.idCategoria}}" ng-selected="(option.idCategoria == produtos[key].idCategoriaProduto.idCategoria)">
                                {{option.nomeCategoria}}
                            </option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="editCategorias()" type="button"><i class="fa fa-plus-circle"  ></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="form-group  col-lg-2">
                    <label>Valor</label><br>
                    <input type="text" ng-model="produtos[key].valorProduto" class="form-control"/>
                </div>
                <div class="form-group  col-lg-2">
                    <label>Qtde.</label><br>
                    <input type="text" ng-model="produtos[key].qtdeProduto" class="form-control"/>
                </div>
                <div class="form-group  col-lg-12">
                    <label>Descrição</label><br>
                    <textarea ng-model="produtos[key].descricaoProduto" class="form-control"></textarea>
                </div>
                <div class="form-group  col-lg-12" ng-show="message">
                    <br>
                    <div class="alert alert-info">{{message}}</div>
                </div>
                <div class="form-group  col-lg-12" style="margin-top: 10px;">
                    <button class="btn btn-success" ng-click="save()">Gravar</button>
                    <button class="btn btn-danger" ng-click="delete()">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>